@page "/fruit"
@using shop.shared
@attribute [StreamRendering]
@inject IDomainService<Fruit> FruitService

<PageTitle>Fruit</PageTitle>

<h1>Fruit</h1>

<p>The fruits we had at @selectedTime</p>
<InputDate @bind-Value="selectedTime" />

@if (fruits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>Updated at</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fruit in fruits)
        {
                <tr>
                    <td>@fruit.Id</td>
                    <td>@fruit.Name</td>
                    <td>@fruit.Color</td>
                    <td>@fruit.UpdatedAt</td>
                    <td>@fruit.CreatedAt</td>
                </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Fruit>? fruits;
    private DateTime _selectedTime = DateTime.Now;
    public DateTime selectedTime
    {
        get { return _selectedTime;}
        set
        {
            _selectedTime = value;
            RefreshList();
        }
    }

    private void RefreshList()
    {
        Console.WriteLine("My debug output.");
        fruits = FruitService.Get(_selectedTime);
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("My debug output.");
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        fruits = FruitService.Get();
    }

}
